*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.achieved-container{
   width: 80%;
   margin-left: 15%;
   margin-bottom: 150px;
}
.achieved-1 h4{
   color: #00d9ff;;
   font-size: 12px;
   margin-bottom: 5px;
}
.achieved-1 h1{
   font-size: 50px;
   margin-bottom: 5px;
}
.achieved-1 p{
   font-size: 12px;
   margin-bottom: 70px;
}

.achieved-2 img{
   width: 500px;
   height: auto;
}
.achieved-2{
   width: 80%;
   height: auto;
   background-color: #10ad81;
   border: 2px solid black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 15px;
}
.achieved-2 h2 {
   font-size: 30px;
}
.achieved-2 p {
   font-size: 15px;
}