{% extends "base.html" %}
{% load static %}

{% block extra_css %}
   <link rel="stylesheet" href="{% static 'credentials/css/credentials.css' %}" />
{% endblock %} 



{% block content %}
   <section class = "achieved-container">
      <div class = 'achieved-1'>
         <h4>ACHIEVEMENTS</h4>
         <h1>My Candentials</h1>
         <p>1 certificates . scroll to explore</p>
      </div>

      <div class = 'achieved-2'>
         <div>
            <img src="{% static 'credentials/images/car-1.jpg' %}" alt="cartificate-1">
         </div>
         <div>
            <h2>Certificate of Achievement – 2 Star Coder Rank</h2>
            <p>This certificate is proudly presented to Md. Abdul Al Noman in recognition of his outstanding achievement and excellent performance in competitive programming. He has successfully achieved the prestigious 2 Star Coder Rank at Phitron Batch 7, demonstrating strong problem-solving skills, programming knowledge, consistency, and dedication to continuous learning.</p>
         </div>
      </div>
   </section>


{% endblock %}